BasedOnStyle: GNU
Language: Cpp

AlignConsecutiveMacros: true
IndentWidth: 4
UseTab: Always
TabWidth: 4
IndentCaseLabels: true
AlignTrailingComments: true

BreakBeforeBraces: Custom
BraceWrapping:
	IndentBraces: false

SpaceBeforeParens: ControlStatements
